* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: url(https://images.unsplash.com/photo-1626033121423-c1a82ba72da0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100% ;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_nav {
  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-between;
}

.search_bowl {
  height: 100%;
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  overflow: hidden;
}

.svg_voice,
.svg_search {
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.svg_voice {
  fill: rgb(48, 46, 46);
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  width: 50px;
}

.svg_search {
  fill: rgb(10, 10, 10);
}
.input_Search {
  height: 100%;
  width: calc(100% - 40px);
  background-color: coral;
}

.search {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: rgb(233, 233, 233);
  font-size: 1.1em;
}

.content_auto_complete {
  position: absolute;
  background-color: rgb(233, 233, 233);
  top: 50px;
  width: calc(100% - 60px);
  right: 0;
  border-radius: 4px;
  display: none;
}

.content_auto_complete.show {
  display: inline;
}

.menu_lines {
  list-style: none;
  padding: 1px;
}

.menu_lines li {
  padding: 8px;
  margin-top: 1px;
  font-size: 1.2em;
  cursor: pointer;
}

.menu_lines li:hover {
  background-color: rgb(209, 209, 209);
}

svg,
img {
  width: 25px;
}

.pop_listen_voice {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 90px;
  z-index: 10;
  display: none;
}
.pop_listen_voice.show {
  display: inline;
}

.content_pop_voice {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.svg_recorde {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid rgb(35, 196, 97);
  animation: animeRcording 1.9s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes animeRcording {
  0% {
    border-color: rgb(21, 189, 211);
  }
  10% {
    border-color: rgb(23, 216, 97);
  }
  20% {
    border-color: rgb(241, 203, 34);
  }
  30% {
    border-color: rgb(230, 22, 178);
  }
  40% {
    border-color: rgb(9, 29, 116);
  }
  50% {
    border-color: rgb(3, 2, 5);
  }
  60% {
    border-color: rgb(21, 189, 211);
  }
  70% {
    border-color: rgb(241, 203, 34);
  }
  80% {
    border-color: rgb(230, 22, 178);
  }
  90% {
    border-color: rgb(9, 29, 116);
  }
  100% {
    border-color: rgb(3, 2, 5);
  }
}

.svg_recorde svg {
  height: 55px;
  width: 55px;
  min-height: 55px;
  min-width: 55px;
}

.words_listen {
  margin-left: 10px;
  font-size: 1.3em;
}

.close_pop_voice {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

main {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image_content {
  max-width: 360px;
  margin-top: 15px;
  height: 280px;
  cursor: pointer;
  transition: all 0.45s ease-out;
  border-radius: 5px;
  padding: 3px;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(66, 93, 245, 0.75),
    rgba(80, 156, 8, 0.75)
  );
}

.card_imgs_ {
  width: 100%;
  height: 100%;
  background: darkslateblue;
  border-radius: 5px;
}
.image_content:hover {
  transform: rotateY(170deg);
}

/* .img_error{
  width: 800px;
  height: 100%;
}

.img_error img{
  width: 100%;
height: 100%;
} */
